<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form role="form" class="col-md-12 go-right">
                <h2>Form To Right</h2>
                <p>To see how it works, you click in a input field.</p>
                <div class="form-group">
                    <input id="name" name="name" type="text" class="form-control trans-bg" required>
                    <label for="name">Your Name</label>
                </div>
                <div class="form-group">
                    <input id="phone" name="phone" type="tel" class="form-control trans-bg" required>
                    <label for="phone">Primary Phone</label>
                </div>
                <div class="form-group">
                    <textarea id="message" name="phone" class="form-control trans-bg" rows="6" required></textarea>
                    <label for="message">Message</label>
                </div>
                <div class="form-group">
                    <input type="button" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>